/* =============
    Header
============= */
header{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";
    border-bottom: 2px solid var(--blue2);
    position: fixed;
    z-index: 20;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--white);
    @include md{
        grid-template-columns: 48px auto 48px;
    }
    @include lg{
        height: 86.8px;
        grid-template-columns: 64px auto 64px;
    }

    #header-content{
        grid-area: content;
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: 
        "logo burger"
        "nav nav";
        padding: 24px 0px;
        color: var(--blue2);

        @include lg{
            grid-template-columns: 10% auto;
            grid-template-areas: "logo nav";
        }
        h1{
            grid-area: logo;
            font-family: 'Fugaz One', cursive;
        }

        button{
            background-color: transparent;
            border: none;
            font-size: rem-calc(20);
            color: var(--blue2);
        }

        #cart-burger{
            grid-area: burger;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 16px;

            @include lg{
                display: none;
            }
        }
        
        nav{
            grid-area: nav;
            ul{
                #cart-desktop{
                    display: none;
                    @include lg{
                        display: list-item;
                    }
                }
            }
        }
    }
}