/* =============
    Base
============= */

body{
    background-color: var(--white);
    position: relative;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a.buy-now:link, a.buy-now:visited{
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px 32px;
    color: var(--blue2);
    border: 2px solid var(--blue2);
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: -2px 2px 4px var(--grey1);
    text-align: center;
    transition: 100ms;
}

a.buy-now:hover, a.buy-now:active{
    background-color: var(--blue2);
    color: var(--white);
}

a:enabled{
    box-shadow: none;
}
