/* =============
    Info
============= */

#info{
    padding: 108px 0px 32px;

    @include md{
        padding: 108px 0px 48px;
    }

    @include lg{
        padding: 108px 0px 64px;
        display: grid;
        grid-template-columns: 64px auto 64px;
        grid-template-areas: ". info .";
    }
    .product-label{
        h1{
            font-family: 'Fugaz One', cursive;
            font-weight: 400;
            font-size: rem-calc(32);
            color: var(--black);
        }
        h4{
            font-weight: 400;
            font-size: rem-calc(16);
            color: var(--black);
            span{
                color: var(--grey1);
                font-size: rem-calc(12);
            }
        }
    }
    #info-content{

        @include lg{
            grid-area: info;
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "image text";
            gap: 64px;

        }
        aside{
            @include lg{
                grid-area: image;
            }
            #ml{
                display: flex;
                flex-direction: column;
                gap: 4px;
                padding: 0px 24px;

                @include md{
                    padding: 0px 48px;
                }
                @include lg{
                    display: none;
                }
            }
            ul{

                @include md{
                    padding: 0px 48px;
                }

                @include lg{
                    padding: 0px;
                }

                .show-at-large{
                    display: none;
                    @include lg{
                        display: list-item;
                    }
                }

                display: grid;

                @include lg{

                    grid-template-columns: 50% auto;
                    grid-template-rows: 250px 250px;
                    grid-template-areas: 
                                    "i1 i2"
                                    "i3 i4";
                
                @include xl{
                    grid-template-rows: 290px 290px;
                }

                @include xxl{
                    grid-template-rows: 390px 390px;
                }
                }
                li{
                    #i1{
                        background-image: url("../img/info/info-1.jpg");
                        height: 100%;
                        width: 100%;
                        background-size: cover;
    
                        @include lg{
                            grid-area: i1;
                            border-radius: 24px 0px 0px;
                        }  
                    }
    
                    #i2{
                        background-image: url("../img/info/info-2.jpg");
                        height: 100%;
                        width: 100%;
                        background-size: cover;
    
                        @include lg{
                            grid-area: i2;
                            border-radius: 0px 24px 0px 0px;
                        }
                    }
    
                    #i3{
                        background-image: url("../img/info/info-3.jpg");
                        height: 100%;
                        width: 100%;
                        background-size: cover;
    
                        @include lg{
                            grid-area: i3;
                            border-radius: 0px 0px 0px 24px;
                        }
                    }
    
                    #i4{
                        background-image: url("../img/info/info-4.jpg");
                        height: 390px;
                        width: 100%;
                        background-size: cover;

    
                        @include lg{
                            height: 100%;
                            grid-area: i4;
                            border-radius: 0px 0px 24px 0px;
                        }
                    }
                }
            }
        }
        #content{
            display: grid;
            grid-template-columns: 24px auto 24px;
            grid-template-areas: ". content .";

            @include md{
                grid-template-columns: 48px auto 48px;
            }
             @include lg{
                grid-area: text;
                grid-template-columns: 0px auto 0px;
             }
            >div{
                grid-area: content;
                display: flex;
                flex-direction: column;
                gap: 32px;

                #dl{
                    display: none;
                    @include lg{
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                    }
                }
                p{
                    font-size: rem-calc(16);
                    line-height: 24px;
                    font-weight: 400;
                    color: var(--black);
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    h2{
                        font-size: rem-calc(20);
                        font-weight: 400;
                        color: var(--black);
                    }
                    input[type="radio"]{
                        display: none;
                    }
                    label{
                        border: 1px solid var(--grey1);
                        border-radius: 8px;
                        padding: 16px;
                        div{
                            section{
                                h1{
                                    font-size: rem-calc(20);
                                    font-weight: 400;
                                    color: var(--black);
                                }
                                p{
                                    font-size: rem-calc(12);
                                    font-weight: 400;
                                    color: var(--grey2);
                                }
                            }
                            h2{
                                font-size: rem-calc(20);
                                font-weight: 700;
                                color: var(--blue1);
                            }
                        }
                    }
                    input[type="radio"]:checked + label{
                        border: 3px solid var(--blue1);
                    }
                }
                a{
                    @include md{
                        align-self: center;
                    }

                    @include lg{
                        align-self: flex-start;
                    }
                }
            }
        }
    }
}