/* =============
    Attachments
============= */

#attachments{
    background-color: var(--yellow4);

    #content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}