/* =============
    Info
============= */

#info{
    .product-label{
        h1{
            font-family: 'Fugaz One', cursive;
            font-weight: 400;
            font-size: rem-calc(32);
            color: var(--black);
        }
        h4{
            font-weight: 400;
            font-size: rem-calc(16);
            color: var(--black);
            span{
                color: var(--grey1);
                font-size: rem-calc(12);
            }
        }
    }
    aside{
        ul{
            li{
                #i1{
                    background-image: url("../img/info/info-1.jpg");
                    height: 390px;
                    width: 390px;
                    background-size: cover;
                }
                #i2{
                    background-image: url("../img/info/info-2.jpeg");
                    height: 390px;
                    width: 390px;
                    background-size: cover;
                }
                #i3{
                    background-image: url("../img/info/info-3.jpeg");
                    height: 390px;
                    width: 390px;
                    background-size: cover;
                }
                #i4{
                    background-image: url("../img/info/info-4.jpeg");
                    height: 390px;
                    width: 390px;
                    background-size: cover;
                }
            }
        }
    }
    section{
        p{
            font-size: rem-calc(16);
            line-height: 24px;
            font-weight: 400;
            color: var(--black);
        }
        form{
            h2{
                font-size: rem-calc(20);
                font-weight: 400;
                color: var(--black);
            }
            input[type="radio"]{
                display: none;
            }
            label{
                div{
                    section{
                        h1{
                            font-size: rem-calc(20);
                            font-weight: 400;
                            color: var(--black);
                        }
                        p{
                            font-size: rem-calc(12);
                            font-weight: 400;
                            color: var(--grey2);
                        }
                    }
                    h2{
                        font-size: rem-calc(20);
                        font-weight: 700;
                        color: var(--blue1);
                    }
                }
            }
        }
    }
}